* {
    padding: 0;
    margin: 0;
}

/* #ff7035
#5b5b5b */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 12px;
    padding-left: 14px;
    font-size: 12px;
    font-family: "Manrope", serif;
    cursor: pointer;
    margin: auto;
    color: #5b5b5b;
    text-align: center;
    transition: 0.5s ease-in;
}

nav ul li:hover {
    color: #ff7035;
}

.column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 20px;


}

.column1 input {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(196, 193, 193);
}

.col1 {
    width: 300px;
}

.col1 input {
    position: relative;
}

.col1 input::placeholder {
    padding-bottom: 5px;

    font-family: "Manrope", serif;
}

.col1 i {
    position: absolute;
    left: 370px;
    color: rgb(189, 188, 188);
    margin-bottom: 7px;
    cursor: pointer;
    font-weight: bold;
}

.inputfocus {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(214, 210, 210);

}

.inputfocus:focus {
    width: 120%;
    border-bottom: 2px solid rgb(214, 213, 213);
}

.col1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 60px;

}

.col2 {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;

}

.sign {
    display: flex;
    gap: 10px;

}

.sign i {
    font-size: 30px;

}

.store {
    display: flex;
    gap: 10px;
}

.store img {
    width: 50px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;

}

.cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: -10px;

}

.cart:hover {
    color: #ff7035
}

.heart {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: -10px;
}

.heart a:hover {
    color: #ff7035
}

.sign {
    position: relative
}

.sign:hover .dropdown {
    visibility: visible;
}

.dropdown {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 1001;
    visibility: hidden;
    padding: 20px;
    /* box-shadow: 3px 3px 3px 3px white; */
}

.dropdown button {
    width: 60%;
    background-color: #ff7035;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 5px;
}

.dropdown p {
    color: #5b5b5b;
}

.dropdown h4 {
    font-family: "Manrope", serif;
}

.sign span {

    display: block;

    text-align: right;
    font-size: 12px;
    font-family: "Manrope", serif;
}

.sign p {
    color: #ff7035;
    font-size: 12px;
    font-family: "Manrope", serif;
}

.store span {
    font-size: 12px;
    font-family: "Manrope", serif;
    margin-top: 5px;
}

.store p {
    color: #ff7035;
    font-size: 12px;
    font-family: "Manrope", serif;
}

.logo {
    max-width: 100%;
    height: auto;
}

.logo img {
    width: 200px;
    height: 43px;
}

.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 217, 217, 0.5);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.column2 ul li {
    display: inline-block;
    padding: 10px;
}

.column2 ul li a {
    color: #121212;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.column2 ul li a::after {
    content: "";
    width: 0%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #ff7035;

}

.column2 ul li a:hover:after {
    width: 100%;
}

.column2 ul li a:hover {
    color: #ff7035;
}

.navlinks li {
    padding: 0px !important;
}

.slider {
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-right: 50px;



}

.slid {
    display: flex;
    width: 500%;
    animation: slide 15s infinite;



}

.show {
    width: 20%;
    flex-shrink: 0;

}

.show img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@keyframes slide {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(0);
    }

    25% {
        transform: translate(-20%);
    }

    45% {
        transform: translate(-20%);
    }

    50% {
        transform: translate(-40%);
    }

    70% {
        transform: translate(-40%);
    }

    75% {
        transform: translate(-60%);
    }

    95% {
        transform: translate(-60%);
    }

    100% {
        transform: translate(-80%);
    }

}

.column3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.banner {
    flex: 1;
}

.banner img {
    width: 800px;
    height: 520px;
    margin-left: 50px;

}

.slider {
    flex: 1;
}

.mobile {
    display: none;
}

.column2 ul li {
    position: relative;
}

.drop {
    position: absolute;
    top: 30px;
    transform: translateX(-0%);
    right: -920px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;

}

.drop7 .content .row img {
    width: 1190px;
}

.drop1 {
    position: absolute;
    top: 30px;

    left: -150px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.drop2 {
    position: absolute;
    top: 30px;

    right: -800px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.drop3 {
    position: absolute;
    top: 30px;

    right: -600px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.drop4 {
    position: absolute;
    top: 30px;

    right: -600px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.drop5 {
    position: absolute;
    top: 30px;

    right: -300px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.drop6 {
    position: absolute;
    top: 30px;

    right: -250px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.drop7 {
    position: absolute;
    top: 30px;

    right: -150px;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
}

.column2 ul li:hover .drop {
    visibility: visible;
}

.column2 ul li:hover .drop1 {
    visibility: visible;
}

.column2 ul li:hover .drop2 {
    visibility: visible;
}

.column2 ul li:hover .drop3 {
    visibility: visible;
}

.column2 ul li:hover .drop4 {
    visibility: visible;
}

.column2 ul li:hover .drop5 {
    visibility: visible;
}

.column2 ul li:hover .drop6 {
    visibility: visible;
}

.column2 ul li:hover .drop7 {
    visibility: visible;
}

.drop .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop1 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop2 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop3 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop4 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop5 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop6 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}

.drop7 .content {

    padding: 20px;
    display: flex;

    width: 100%;
    justify-content: space-between;
    font-size: smaller
}


/* .column2 ul .hi{
    position:relative;
}
.column2 ul .hi .drop{
    position:absolute;
    left:0;
    visibility: hidden;
} */


.column2 ul li .drop .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop {
    width: auto;

}

.column2 ul li .drop .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop1 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop1 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop1 {
    width: auto;

}

.column2 ul li .drop1 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop1 .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop2 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop2 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop2 {
    width: auto;

}

.column2 ul li .drop2 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop2 .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop3 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop3 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop3 {
    width: auto;

}

.column2 ul li .drop3 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop3 .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop4 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop4 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop4 {
    width: auto;

}

.column2 ul li .drop4 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop4 .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop5 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop5 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop5 {
    width: auto;

}

.column2 ul li .drop5 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop5 .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop6 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop6 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop6 {
    width: auto;

}

.column2 ul li .drop6 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop6 .content .row ul li a {
    display: inline-block;
}

.column2 ul li .drop7 .content .row ul li {
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 12px;
}

.column2 ul li .drop7 .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop7 {
    width: auto;

}

.column2 ul li .drop7 .content .row {
    /* max-width: 100px;  */
    padding: 15px;
}

.column2 ul li .drop7 .content .row ul li a {
    display: inline-block;
}

/* .row img{
    width: 632px;
    height:769px;
} */





.content .row:nth-child(odd) {
    background-color: #fafafa;
}

.content .row .navlinks li a:hover {
    color: brown;
}

.content .row .navlinks li a {
    color: #5b5b5b;

}

.content .row {
    background-color: white;
    z-index: 999;
    line-height: 25px;
    padding: 10px;

}

.content .row h4 {
    color: brown;
    font-weight: lighter;
}

.column4 {
    display: flex;

    margin-top: 30px;
    margin-left: 50px;
    gap: 70px;

}

.column4 .image2 img {
    width: 370px;
    height: 70px;
}

.column4 .image1 img {
    width: 370px;
    height: 70px;
}

.column4 .image3 img {
    width: 370px;
    height: 70px;
}

.column5 {
    display: flex;

    margin-top: 30px;
}

.column5 {
    margin: auto;
    margin-left: 50px;
    gap: 20px;
}

.column5 img {
    width: 400px;
    height: 110px;
}

.column6 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;
}

.column6 img {
    height: 100px;
    width: 1248px;
}

.column7 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.column7 h2 {
    color: #9d6a37;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;


}

.column8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column8 button {
    padding: 15px;
    font-size: 1rem;
    color: #848484;
    font-weight: bolder;
    margin-left: 15px;
    border-radius: 50px;
    border: 2px solid #E0E0E0;
    outline: none;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.column8 button:hover {
    border: 1px solid #ff7035;
    color: #ff7035;

}

.column8 .active {
    border: 1px solid #ff7035;
    color: #ff7035;
    background-color: rgb(248, 226, 226);
}

.column9 {
    display: grid;
    grid-template-columns: repeat(6, 0.2fr);
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 60px;
}

.column9 img {
    width: 190px;
    height: 210px
}

.column9 {
    display: none;
}

.column10 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.column10 h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;


}

.column11 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-align: center;

}

.column11 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.column11 .active1 {

    color: #ff7035;

}

.column11 img {
    color: #ff7035;
}

.column11 button {
    border: none;
    background-color: white;
    cursor: pointer
}

.column12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: none;

}

.column12 img {
    width: 190px;
    height: 210px;
    padding-left: 8px;
}

.explorebywoodworthbanner {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

.explorebywoodworthbanner img {


    height: 150px;
    width: 1188px;

}

.frydeals {
    text-align: center;
    margin-top: 10px;
}

.frydeals h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;
}

.setofimages6 img {
    width: 190px;
    height: 209px;
    margin-left: 10px;
}

.setofimages6 {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setofimages6 .prouductimages {
    position: relative;
}
.popup{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:20px;
    background-color: rgba(0,0,0,0.7);
    color:white;
    border-radius: 5px;
}
.added{
    color:red;
}

.setofimages6 button {
    position: absolute;
    left: 150px;
    top: 200px;
    border: none;
    cursor: pointer;
}

.setofimages6 button i {
    font-size: 18px;
    background: white;
}

.furniturebazar {
    text-align: center;
    margin-top: 20px;
}

.furniturebazar h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;
}


.whislistbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.whislistbtn button {
    padding: 15px;
    font-size: 1rem;
    color: #848484;
    font-weight: bolder;
    margin-left: 15px;
    border-radius: 50px;
    border: 2px solid #E0E0E0;
    outline: none;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.whislistbtn button:hover {
    border: 1px solid #ff7035;
    color: #ff7035;

}

.productswhislist img {
    width: 291px;
    height: 321px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.productswhislist {
    text-align: center;
    margin-top: 20px;
}

.productswhislist-forbutton2 img {
    width: 291px;
    height: 321px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.productswhislist-forbutton2 {
    text-align: center;
    margin-top: 20px;
    display: none;
}

.productswhislist-forbutton3 img {
    width: 291px;
    height: 321px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.productswhislist-forbutton3 {
    text-align: center;
    margin-top: 20px;
    display: none;
}

.banner3 {
    width: 100%;
    height: auto;
}

.banner3 img {
    height: 200px;
    width: 1347px;
}

.slider-with-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    margin-top: 40px;
    gap:8px;
    
}
.studio-banner img{
    width:392px;
    height:290px;
   
 
}



.carousel {
    position: relative;
    width: 59%;
    /* margin: 50px auto; */
    overflow: hidden;
}

.carousel-view {
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 33.33%;
   
    position: relative;
}

.carousel-item img {
    width: 100%;
    /* filter: grayscale(100%); */
    filter:brightness(50%);
}

.carousel-caption {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.carousel-caption h2 {
    font-size: 1.2rem;
    margin: 0;
    font-family: "Manrope", serif;
}

.carousel-caption p {
    font-size: 1rem;
    font-family: "Manrope", serif;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(250, 248, 248, 0.5);
    border: none;
    color: black;
    font-size: 1rem;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 0px;
}

.carousel-button.next {
    right: 0px;
}

.two-banner img {
    width: 594px;
    height: 187px;
    padding: 5px;
}

.two-banner {
    text-align: center;
    margin-top: 50px;

}

.newest-arrivals {
    text-align: center;
    margin-top: 40px;
}

.newest-arrivals h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;
}

.newest-collections {
    display: flex;
    justify-content: center;
    align-items: center;

}

.newest-arrivals-products img {
    width: 291px;
    height: 320px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.newest-arrivals-products a {
    text-decoration: none;
    padding-left: 8px;
}

.first-product {
    color: #5b5b5b;
    font-size: 15px;
    font-family: "Manrope", serif;
    font-weight: bolder;

}

.vastuone {
    margin-top: 25px;
}

.vastu {
    width: 250px;
    display: block;
}

.second-product {
    color: #848484;
    font-size: 12px;
    font-family: "Manrope", serif;


}

.making-diff {
    text-align: center;
    margin-top: 40px;
}

.making-diff h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;
}

.content {
    margin-top: 5px;
}

.need-buying-content {
    text-align: center;
    margin-top: 40px;
}

.need-buying-content h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;
}

.buying-guides img {
    width: 203px;
    height: 203px;
}

.buying-guides {
    text-align: center;
    margin-top: 15px;
}

.interior-trends-content {
    text-align: center;
    margin-top: 40px;
}

.interior-trends-content h2 {
    color: #7a4a19;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;
    font-weight: bold;
}

.interior-trends {
    display: flex;
    justify-content: center;
    align-items: center;

}

.interior-trends-products img {
    width: 400px;
    height: 220px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.interior-trends-products a {
    text-decoration: none;
    margin-left: 5px;
}

.review-by-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.image-one img {
    display: block;
    width: 796px;
    height: 227px;
}

.image-two img {
    display: block;
    width: 392px;
    height: 108px;
    margin-top: 3px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.last-banner img {
    width: 1200px;
    height: 70px;
}

.last-banner {
    text-align: center;
    margin-top: 50px;
}

.static-content h1 {
    color: #121212;
    font-size: 13px;
    padding-bottom: 5px;
    font-family: "Manrope", serif;
    font-weight: bold;

}

.static-content p {
    color: #121212;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Manrope", serif;

}

.furniture strong {
    color: #121212;
    font-size: 16px;
    padding-bottom: 5px;
    font-family: "Manrope", serif;
    font-weight: bold;
}

.static-content {
    width: 1200px;
    margin: auto;


}

.static-content {
    margin-top: 50px;
}

footer {
    background-color: #f5f5f5;
    width: 1349px;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: baseline;
    margin-top: 20px;
}

.footer-column-one {
    margin-top: 20px;
}

.footer-column-one a {
    display: block;
    text-decoration: none;
    color: #848484;
    font-size: 14px;
    font-family: "Manrope", serif;
    padding: 5px;
}

.footer-column-one p {
    font-size: 16px;
    font-family: "Manrope", serif;
    color: #121212;
    font-weight: bolder;

}

.footer-column-one img {
    width: 110px;
    height: 36px;
    margin-top: 5px;
}

.footer-row-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: baseline;
}

.footer-column-two p {
    font-size: 16px;
    font-family: "Manrope", serif;
    color: #121212;
    font-weight: bolder;
}

.footer-column-two a {
    width: 350px;
    display: block;
    padding-top: 8px;
    text-decoration: none;
    color: #848484;
    font-size: 14px;
    font-family: "Manrope", serif;

}

.footer-column-two {
    margin-top: 50px;
}

hr {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;

    border: 0.5px solid lightgrey;
}

.footer-column-three img {
    width: 76px;
    height: 48px;
    margin-left: 4px;
    margin-top: 10px;
}

.footer-column-three p {
    font-size: 16px;
    font-family: "Manrope", serif;
    color: #121212;
    font-weight: bolder;
}

.footer-row-three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: baseline;
    margin-top: 50px;
}

.social-media img {
    width: 46px;
    height: 46px;
    margin-right: 25px;
}

.footer-row-four {
    text-align: center;
}

.footer-row-four a {
    text-decoration: none;
    color: #848484;
    font-size: 14px;
    font-family: "Manrope", serif;
    margin-left: 15px;

}

.Copyright-content {
    text-align: center;
}

.Copyright-content p {
    font-size: 14px;
    font-family: "Manrope", serif;
    color: #848484;
    padding: 10px;
}

 @media(max-width:325px){
    .mobile{
        display:block;

    }
    .mobile img{
        width:32px;
        height:34px;
    }
    .column3{
        display:flex;
        flex-direction: column;
    }
    .banner img{
        width:100%;
    }
    .slider{
        max-width: 100%;
    }
}  