* {
    padding: 0;
    margin: 0;
}

/* #ff7035
#5b5b5b */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 12px;
    padding-left: 14px;
    font-size: 12px;
    font-family: "Manrope", serif;
    cursor: pointer;
    margin: auto;
    color: #5b5b5b;
    text-align: center;
    transition: 0.5s ease-in;
}

nav ul li:hover {
    color: #ff7035;
}

.column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 20px;


}

.column1 input {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(196, 193, 193);
}

.col1 {
    width: 300px;
}
.col1 input{
    position:relative;
}
.col1 input::placeholder{
   padding-bottom: 5px;
   
   font-family: "Manrope", serif;
}
.col1 i{
    position: absolute;
    left:370px;
    color:rgb(189, 188, 188);
   margin-bottom: 7px;
   cursor: pointer;
   font-weight: bold;
}

.inputfocus {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(214, 210, 210);

}

.inputfocus:focus {
    width: 120%;
    border-bottom: 2px solid rgb(214, 213, 213);
}

.col1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 60px;

}

.col2 {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;

}

.sign {
    display: flex;
    gap: 10px;

}

.sign i {
    font-size: 30px;

}

.store {
    display: flex;
    gap: 10px;
}

.store img {
    width: 50px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;

}

.cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: -10px;

}

.cart:hover {
    color: #ff7035
}

.heart {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: -10px;
}

.heart img:hover {
    color: #ff7035
}
.sign {
    position:relative
}
.sign:hover .dropdown{
    visibility: visible;
}
.dropdown{
    background-color: white;
   width:100%;
    position:absolute;
    top:40px;
    left:0px;
    z-index: 999;
    visibility: hidden;
    padding:20px;
    /* box-shadow: 3px 3px 3px 3px white; */
}
.dropdown button{
    width:60%;
    background-color: #ff7035;
    border: none;
    padding:10px;
    color:white;
    font-weight: bolder;
    cursor:pointer;
    margin-top: 5px;
}
.dropdown p{
    color:#5b5b5b;
}
.dropdown h4{
    font-family: "Manrope", serif;
}
.sign span {

    display: block;

    text-align: right;
    font-size: 12px;
    font-family: "Manrope", serif;
}

.sign p {
    color: #ff7035;
    font-size: 12px;
    font-family: "Manrope", serif;
}

.store span {
    font-size: 12px;
    font-family: "Manrope", serif;
    margin-top: 5px;
}

.store p {
    color: #ff7035;
    font-size: 12px;
    font-family: "Manrope", serif;
}

.logo {
    max-width: 100%;
    height: auto;
}

.logo img {
    width: 200px;
    height: 43px;
}

.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 217, 217, 0.5);
    padding: 10px;
}

.column2 ul li {
    display: inline-block;
    padding: 10px;
}

.column2 ul li a {
    color: #121212;
    text-decoration: none;
}

.navlinks li{
    padding: 0px !important;
}

.slider {
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-right: 50px;



}

.slid {
    display: flex;
    width: 500%;
    animation: slide 15s infinite;
   


}

.show {
    width: 20%;
    flex-shrink: 0;
    
}

.show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

@keyframes slide {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(0);
    }

    25% {
        transform: translate(-20%);
    }

    45% {
        transform: translate(-20%);
    }

    50% {
        transform: translate(-40%);
    }

    70% {
        transform: translate(-40%);
    }

    75% {
        transform: translate(-60%);
    }

    95% {
        transform: translate(-60%);
    }

    100% {
        transform: translate(-80%);
    }

}

.column3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.banner {
    flex: 1;
}

.banner img {
    width: 800px;
    height: 520px;
    margin-left: 50px;

}

.slider {
    flex: 1;
}

.mobile {
    display: none;
}

.column2 ul li {
    position: relative;
}

.drop {
    position: absolute;
    top: 20px;
   transform: translateX(-0%);
    right: -920px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
   
}
.drop1{
    position: absolute;
    top: 20px;
   
    left: -150px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}
.drop2{
    position: absolute;
    top: 20px;
   
    right:-800px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}
.drop3{
    position: absolute;
    top: 20px;
   
    right:-600px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}
.drop4{
    position: absolute;
    top: 20px;
   
    right:-600px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}
.drop5{
    position: absolute;
    top: 20px;
   
    right:-300px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}
.drop6{
    position: absolute;
    top: 20px;
   
    right:-250px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}
.drop7{
    position: absolute;
    top: 20px;
   
    right:-600px;
     visibility: hidden; 
    cursor:pointer;
    z-index: 999;
}

.column2 ul li:hover .drop{
    visibility :visible;
}
.column2 ul li:hover .drop1{
    visibility: visible;
}
.column2 ul li:hover .drop2{
    visibility: visible;
}
.column2 ul li:hover .drop3{
    visibility: visible;
}
.column2 ul li:hover .drop4{
    visibility: visible;
}
.column2 ul li:hover .drop5{
    visibility: visible;
}
.column2 ul li:hover .drop6{
    visibility: visible;
}
.column2 ul li:hover .drop7{
    visibility: visible;
}
.drop .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   

  
   
}
.drop1 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   

  
   
}
.drop2 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   

  
   
}
.drop3 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   

  
   
}
.drop4 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   

  
   
}
.drop5 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   
}
.drop6 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   
}
.drop7 .content {

    padding: 20px ;
    display: flex;
  
    width: 100%;
    justify-content: space-between;
    font-size:smaller
   
}
  
  
/* .column2 ul .hi{
    position:relative;
}
.column2 ul .hi .drop{
    position:absolute;
    left:0;
    visibility: hidden;
} */


.column2 ul li .drop .content .row ul li {
     white-space: nowrap;
    padding: 10px 10px; 
    font-size: 12px; 
}

.column2 ul li .drop .content {
    padding: 10px;
    /* max-width: 100px;  */
}

.column2 ul li .drop {
    width: auto; 
   
}

.column2 ul li .drop .content .row {
    /* max-width: 100px;  */
    padding: 15px; 
}

.column2 ul li .drop .content .row ul li a {
    display: inline-block;
}
.column2 ul li .drop1 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop1 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop1 {
   width: auto; 
  
}

.column2 ul li .drop1 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop1 .content .row ul li a {
   display: inline-block;
}
.column2 ul li .drop2 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop2 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop2 {
   width: auto; 
  
}

.column2 ul li .drop2 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop2 .content .row ul li a {
   display: inline-block;
}
.column2 ul li .drop3 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop3 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop3 {
   width: auto; 
  
}

.column2 ul li .drop3 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop3 .content .row ul li a {
   display: inline-block;
}
.column2 ul li .drop4 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop4 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop4 {
   width: auto; 
  
}

.column2 ul li .drop4 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop4 .content .row ul li a {
   display: inline-block;
}
.column2 ul li .drop5 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop5 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop5 {
   width: auto; 
  
}

.column2 ul li .drop5 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop5 .content .row ul li a {
   display: inline-block;
}
.column2 ul li .drop6 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop6 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop6 {
   width: auto; 
  
}

.column2 ul li .drop6 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop6 .content .row ul li a {
   display: inline-block;
}
.column2 ul li .drop7 .content .row ul li {
    white-space: nowrap;
   padding: 10px 10px; 
   font-size: 12px; 
}

.column2 ul li .drop7 .content {
   padding: 10px;
   /* max-width: 100px;  */
}

.column2 ul li .drop7 {
   width: auto; 
  
}

.column2 ul li .drop7 .content .row {
   /* max-width: 100px;  */
   padding: 15px; 
}

.column2 ul li .drop7 .content .row ul li a {
   display: inline-block;
}
 /* .row img{
    width: 632px;
    height:769px;
} */





.content .row:nth-child(odd) {
    background-color:  #fafafa;
}

.content .row .navlinks li a:hover {
    color: brown;
}

.content .row .navlinks li a {
    color: #5b5b5b;
   
}

.content .row {
    background-color: white;
    z-index: 999;
    line-height: 25px;
    padding:10px;
   
}

.content .row h4 {
    color:  brown;
    font-weight: lighter;
}
.column4{
    display:flex;
    
    margin-top: 30px;
    margin-left: 50px;
    gap:70px;
    
}
.column4 .image2 img{
    width:370px;
    height:70px;
}
.column4 .image1 img{
    width:370px;
    height:70px;
}
.column4 .image3 img{
    width:370px;
    height:70px;
}
.column5{
    display:flex;
   
    margin-top: 30px;
}
.column5{
    margin: auto;
    margin-left: 50px;
    gap:20px;
}

.column5 img{
    width:400px;
    height:110px;
}
.column6{
    width:100%;
    height:auto;
    text-align: center;
    margin-top: 15px;
}
.column6 img{
height:100px;
width:1248px;
}
.column7{
    width:100%;
    height:auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.column7 h2{
    color:#9d6a37;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    line-height: 2rem;
    word-spacing: 4px;

   
}
.column8{
    display:flex;
    justify-content: center;
    align-items: center;
}
.column8 button{
    padding:15px;
    font-size: 1rem;
    color:#848484;
    font-weight: bolder;
   margin-left: 15px;
   border-radius: 50px;
    border: 2px solid #E0E0E0; 
    outline: none;
    background-color: white;
}
.column8 .active{
    border: 1px solid #ff7035;
    color:#ff7035;
    background-color: rgb(245, 187, 187);
}
 .column9{
    display: grid;
    grid-template-columns: repeat(6,0.2fr);
    box-sizing: border-box;
    margin-top: 20px;
   margin-left: 60px;
} 
.column9  img{
    width:190px;
    height:210px
}
/* @media(min-width:325px){
    .mobile{
        display:block;

    }
    .mobile img{
        width:32px;
        height:34px;
    }
} */